@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: whitesmoke;
    font-family: 'Pacifico', cursive;
}
h1 {
    text-align: center;
    margin-top: 25px;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 5px;
}
h2 {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 400
    ;
    letter-spacing: 5px;
}
/* loader */
.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
}
.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    /* centering an image in the center of the page and the center of the img */
    transform: translate(-50%, -50%);
}